<!DOCTYPE html>

<html>
<head>
    <title>FinalDrive - Bulut Bilişim</title>

    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Goggle Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>

    <!-- Font Css -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <style>
        .header-text a{text-decoration:none;color:antiquewhite;font-size:30px;}
        .header-text a:hover{color:darkred;font-weight:bold;}
    </style>

</head>
<body>
    <header>
        <div id="homeFullScreen">
            <div class="header-text">
                <h1>Final Drive</h1>
                <div class="vertical-line"></div>
                <p>
                    250 MB'ye kadar resim depolama imkânı

                </p>
                <div class="vertical-line"></div>
                <p><a href="/Home/Login">Giriş Yap</a>
                <br />
                veya
                <br />
                <a href="/Home/Signup">Kayıt Ol</a>
</p>
            </div><!-- End HeaderText -->
        </div><!-- End homeFullScreen -->
    </header><!-- End Header -->
    <!-- Feature -->

    

    <!-- Call to Action -->
    <!--<section class="call-top-action text-center" style="margin-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bulut Bilişim Dersi</h1>
                    <p>
                        Sisteme Giriş Yapmak İçin Tıklayın.
                    </p>
                    <p>
                        Sisteme Kayıt Olmak İçin Tıklayın.
                    </p>
                  
                </div>--><!-- End col-md-12 -->
            <!--</div>--><!-- End row -->
        <!--</div>--><!-- End container -->
    <!--</section>-->

    <!-- Footer -->
    <footer>
        <ul class="in-line">
            <li><a href="#"><span><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-youtube"></i></span></a></li>
        </ul>
        <span class="copyright">&#169; 182119007 - Erkan Tekin - Normal Öğretim</span>
    </footer>




    <!-- Main JS -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Animation JS -->
    <script src="~/Scripts/wow.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/custom.js"></script>


</body>
</html>